html{
  background-image:url("body-bg.jpg");
  h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  ul{
    margin-left: 25%;
    margin-right: 25%;
      li{
      list-style-type: lower-roman;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
     }
    }
    .showcase {
        width: 400px;
        height: 350px;
        display: inline-block;
        position: relative;
        border: 1px solid grey;
        box-shadow: 2px , 2px ,3px ;
        margin: 25px;

        p{
          padding-left: 10px;
          width: 400px;
        }
        h4 {
          color: #ff33fe;
        }
      }
}
