<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Genuine People Personalities </h1>
    <ul>
        <li>Home </li>
        <li>about </li>
        <li>shop now </li>
    <ul>
    <%= yield %>
  </body>
</html>
